<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi blog en Django</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 16/02/18, 10:31</p>
        <h2><a href="">Mi primer Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, unde rem quas quod a excepturi eius doloremque hic inventore, nobis totam eos assumenda dolor natus, consectetur vero? Dolore, obcaecati culpa?</p>
    </div>

    <div>
        <p>published: 16/02/18, 10:33</p>
        <h2><a href="">Mi Segundo Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat rem ab a consequuntur! Iusto dolore sapiente, aliquam hic neque consectetur esse fugiat recusandae possimus, quibusdam perspiciatis, itaque nam ipsum. Deserunt!</p>
    </div>
    
</body>
</html>